/*cor do fundo*/
body{
  background-color: #002147;
  color: white;
}

/*cor do botão*/
button{
  background-color: white;
  color: black;
}
  
/* botoēs de atra/enca/ocor*/
.tuialfa a {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    height: 100vh;
  }


/*esconde*/
.masculo {
  display: none;
}

/*só mostra se clicar*/
.masculo:target {
  display: block;
}

/*nada apareçe no início */
#inicio:target ~ .secao {
  display: none;
}

.logo {
  position: absolute;
  bottom: 100px;
  left: 40%;
  width: 200px;
  height: auto;
}